body {
	padding: 70px 0px;
}

.about-me {
	width: 100%;
}
.date {
	font-weight: normal;
	font-size: 12px;
	float: right;
	color: #DC965D;
}

#resume-btn {
	text-align: center;
	width: 100%;
 	border-radius: 0;
 }